* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

:root {
    --background: #d4c8bc;
    --background-light: #fafbf6;
    --highlight-blue: #81b1bf;
    --highlight-red: #8a5257;
    --highlight-red-dark: #5f2e32;
}
html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-light);
    overflow: auto;
}
body{
    background: linear-gradient(  var(--highlight-blue), var(--background-light));
    display: flex;
    justify-content: center;
}

.container{
    width: 1000px;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f5f500; /* Light background for styling */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.247);
    overflow: hidden;
    height: auto;
}

#content{
    background-color: var(--background);
    width: 100%;
    flex-grow: 1;
    padding: 1.5rem; 
}

.tab-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-color: var(--highlight-red);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: center;
    font-size: 24px;
}
.tab-content h1{
    font-size: 2.25rem;
    margin-bottom: 1rem;
    color: var(--highlight-red);
}

.tab-content p{
    font-size: 1.1rem;
    padding: 0 5rem;
    color: #0f0f0f;
}

#logo{
    width: 300px;
    height: 300px;
    margin: 0;
}

nav button{
    background-color: var(--highlight-red);
    color: white;
    padding: 10px 20px;
    margin: 0px 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    outline: none;
}

nav button:hover{
    background-color: var(--highlight-red-dark);
}

nav button:active{
    background-color: var(--highlight-red);
}

.active{
    background-color: var(--highlight-red-dark);
}
span{
    color: black;
}

/* styles for menu */
/* Container for the entire menu */
.menu-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Menu header */
.menu-header {
    text-align: center;
    margin-bottom: 40px;
}

/* Each section of the menu */
.menu-section {
    margin-bottom: 40px;
}

/* Section headers (Low Altitude, Mid Altitude, etc.) */
.menu-section-header {
    font-size: 1.8em;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Individual menu items */
.menu-item {
    font-size: 1.2em;
    margin-bottom: 10px;
    padding-left: 20px;
}

/* Strong (bold) for item names */
.menu-item strong {
    font-size: 1.4em;
    display: block;
}
