* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

:root {
    --background: #d4c8bc;
    --background-light: #fafbf6;
    --highlight-blue: #81b1bf;
    --highlight-red: #8a5257;
    --highlight-red-dark: #5f2e32;
}
html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-light);
    overflow-x: hidden;
}
body{
    background: linear-gradient(  var(--highlight-blue), var(--background-light));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container{
    width: 90%; /* Use a percentage to allow flexibility */
    max-width: 1000px; /* Still limit the width on larger screens */
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f5f500; /* Light background for styling */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.247);
    height: auto;
    min-height: calc(100vh - 3rem);
    overflow: hidden;
}

@media (max-width: 480px) {
    .container {
        width: 95%; /* Increase the flexibility on very small screens */
    }
}

#content{
    background-color: var(--background);
    width: 100%;
    flex-grow: 1;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.tab-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

/* Header styles */
header{
    background-color: var(--highlight-red);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: center;
    font-size: 24px;
}
.tab-content h1{
    font-size: 2.25rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: var(--highlight-red);
    text-align: center;
}
/* Adjust for phones */
@media (max-width: 480px) {
    .tab-content h1 {
        font-size: 1.5rem; /* Reduce font size for smaller screens */
    }
}

.tab-content p{
    font-size: 1.1rem;
    padding: 0 5rem;
    color: #0f0f0f;
    width: 100%;
}
/* Adjust for phones */
@media (max-width: 768px) {
    .tab-content p {
        padding: 0 2rem; /* Reduce padding on tablet-sized screens */
        font-size: 0.9rem; /* Reduce font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .tab-content p {
        padding: 0 1rem; /* Reduce padding even more for phones */
        font-size: 0.9rem; /* Reduce font size for smaller screens */
    }
}
.about-paragraph, .home-paragraph{
    margin-bottom: 16px;
    text-align: center;
}

#logo{
    width: 300px;
    height: 300px;
    margin: 0;
}
/* Navigation styles */
nav button{
    background-color: var(--highlight-red);
    color: white;
    padding: 10px 20px;
    margin: 0px 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    outline: none;
}
/* Adjust button size for mobile */
@media (max-width: 480px) {
    nav button {
        padding: 8px 16px;
        margin: 5px; /* Reduce margin and padding for smaller screens */
        width: 100%; /* Make buttons full-width for better touch usability */
    }
}

nav button:hover{
    background-color: var(--highlight-red-dark);
}

nav button:active{
    background-color: var(--highlight-red);
}

.active{
    background-color: var(--highlight-red-dark);
}
span{
    color: black;
}

/* styles for menu */
/* Menu styles for desktop */
.menu-container {
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.menu-header {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.25rem;
}

.menu-section {
    margin-bottom: 40px;
}

.menu-section-header {
    font-size: 1.8em;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.menu-item {
    font-size: 1.2em;
    margin-bottom: 10px;
    padding-left: 20px;
}

.menu-item strong {
    font-size: 1.4em;
    display: block;
}

/* Responsive design for tablets and smaller */
@media (max-width: 768px) {
    .menu-container {
        width: 95%;
        padding: 10px;
    }

    .menu-header {
        font-size: 1.75rem;
        margin-bottom: 30px;
    }

    .menu-section-header {
        font-size: 1.6em;
        padding-bottom: 8px;
        margin-bottom: 15px;
    }

    .menu-item {
        font-size: 1.1em;
        padding-left: 15px;
    }
}

/* Responsive design for phones */
@media (max-width: 480px) {
    .menu-container {
        width: 100%;
        padding: 5px;
    }

    .menu-header {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .menu-section-header {
        font-size: 1.4em;
        border-bottom-width: 1px;
        padding-bottom: 6px;
        margin-bottom: 12px;
    }

    .menu-item {
        font-size: 1em;
        padding-left: 10px;
        margin-bottom: 8px;
    }

    .menu-section {
        margin-bottom: 30px;
    }
}

